<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <title><%- pageTitle %></title>
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/<%- favicon %>"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/<%- favicon32 %>"/>
        <link rel="icon" type="image/png" sizes="48x48" href="/icons/<%- favicon48 %>"/>
        <link rel="icon" type="image/png" sizes="64x64" href="/icons/<%- favicon64 %>"/>
        <link rel="icon" type="image/png" sizes="64x64" href="/icons/<%- favicon128 %>"/>
        <link rel="apple-touch-icon" sizes="57x57" href="/icons/<%- appleTouch57 %>"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/icons/<%- appleTouch60 %>"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/<%- appleTouch72 %>"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/<%- appleTouch76 %>"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/icons/<%- appleTouch114 %>"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/icons/<%- appleTouch120 %>"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/<%- appleTouch144 %>"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/icons/<%- appleTouch152 %>"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/<%- appleTouch180 %>"/>
        <link href="<%- styleFile %>" rel="stylesheet">
    </head>
    <body>
        <div id="app"><%- appContainer %></div>
        <script src="<%- jsFile %>">
    </body>
</html>
